#mapid{
    height: 100%;
    background-color:white;
    z-index:1;
}

body,html{
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

#search{
    color:white;
    background-color:gray;
    width: 480px;;
    height:auto;
    font-size: 20px;
    position:sticky;
    margin-top: -730px;
    margin-left: 70px;
    padding-bottom: 5px;
    padding-left: 45px;
    font-size: 15px;
    z-index:2;
    border-radius: 20px;
}
